#follow-all-twitter
  #follow-all-form
    %h3= t("header.select_list")
    #follow-all-twitter-user
    #follow-all-twitter-list
    = submit_tag t("button.follow_all"), id: "follow-all-btn"
  #follow-all-users-index 
