#twitter

  #twitter-form
    %h3 Please Select a List
    #twitter-user.control-group
    #twitter-list.control-group

    #twitter-actions
      %a.btn-follow-all Follow All

  #twitter-list-users


- content_for :javascripts do
  :javascript
    jQuery(function () {
      FA.twitter_model = new FA.Models.Twitter.UserFollower();
      FA.twitter_view  = new FA.Views.Twitter.FollowUsers({ model: FA.twitter_model });

      FA.twitter_view.render();
    });
