@media (min-width: 980px) {

  body {
    padding-top: 40px;
  }

  .row {
    margin-top: 18px;
  }

}

@media (min-width: 1200px) {

  body {
    padding-top: 40px;
  }

  .row {
    margin-top: 18px;
  }

}
