#follow-all-twitter {
  @extend .row;
}

#follow-all-form {

  @include makeColumn(3);
  @extend .well;

}

#follow-all-btn {

  @extend .btn;
  @extend .btn-primary;
  margin-top: 20px;

}

#follow-all-users-index {

  @include makeColumn(8);

  .user {
    margin-top: 0;
    margin-bottom: 15px;
  }

}

@media (min-width: 980px) {

  body {
    padding-top: 40px;
  }

  .row {
    margin-top: 18px;
  }

}

@media (min-width: 1200px) {

  body {
    padding-top: 40px;
  }

  .row {
    margin-top: 18px;
  }

}
